@charset "UTF-8";
@import "style-reset.css";
@import "style-standard.css";
@import "style-leme.css";

/* -------------------------------------------------------------
Windows でチェックするときは以下の指定を利用
※チェックが済んだら必ず削除かコメントアウトすること
@import "style-check.css";
---------------------------------------------------------------- */



/* ファイル情報
----------------------------------------------------------------
【内容】
外部 CSS の一括読み込み と 作品別カスタマイズ指定

【CSSファイルバージョン】
ver.1.1.1

【当ファイル更新時の電書協EPUB 3 制作ガイドバージョン】
ver.1.1.3

【細目】
・外部 CSS の import
・作品別カスタマイズ領域

【更新履歴】
2014/11/01 ver.1.1.1
・「特殊リンク指定」を追加
・「注釈リンクの下線と色」を変更

2012/12/07 ver.1.1.0
・ファイル更新時の電書協EPUB 3 制作ガイドバージョン表記を追加

2012/08/21 ver.1.0b1
・公開版
---------------------------------------------------------------- */


/* -------------------------------------------------------------
 * 作品別カスタマイズ領域
 * ------------------------------------------------------------- */


/* 見出しのデフォルト書体指定
---------------------------------------------------------------- */
/* 横組み用 */
.hltr h1,
.hltr h2,
.hltr h3,
.hltr h4,
.hltr h5,
.hltr h6 {
  font-family: serif-ja, serif;
}
/* 縦組み用 */
.vrtl h1,
.vrtl h2,
.vrtl h3,
.vrtl h4,
.vrtl h5,
.vrtl h6 {
  font-family: serif-ja-v, serif-ja, serif;
}


/* リンク指定
---------------------------------------------------------------- */
/* 基本設定（上：横組み　下：縦組み） */
.hltr a {
}
.vrtl a {
}
/* 未訪問リンク */
a:link {
}
/* 訪問済みリンク */
a:visited {
}
/* マウスオーバー時 */
a:hover {
}
/* フォーカス時 */
a:focus {
}
/* アクティブ時 */
a:active {
}


/* 注釈リンクの下線と色 （注釈参照側）
---------------------------------------------------------------- */
/* 基本設定（上：横組み　下：縦組み） */
.hltr a.noteref {
}
.vrtl a.noteref {
}
/* 未訪問リンク */
a.noteref:link {
}
/* 訪問済みリンク */
a.noteref:visited {
}
/* マウスオーバー時 */
a.noteref:hover {
}
/* フォーカス時 */
a.noteref:focus {
}
/* アクティブ時 */
a.noteref:active {
}


/* 注釈リンクの下線と色 （注釈内容側）
---------------------------------------------------------------- */
/* 基本設定（上：横組み　下：縦組み） */
.hltr a.note {
}
.vrtl a.note {
}
/* 未訪問リンク */
a.note:link {
}
/* 訪問済みリンク */
a.note:visited {
}
/* マウスオーバー時 */
a.note:hover {
}
/* フォーカス時 */
a.note:focus {
}
/* アクティブ時 */
a.note:active {
}


/* 見出しの指定（上：横組み　下：縦組み）
---------------------------------------------------------------- */
/* 大見出し */
.hltr .oo-midashi {
}
.vrtl .oo-midashi {
}
/* 中見出し */
.hltr .naka-midashi {
}
.vrtl .naka-midashi {
}
/* 小見出し */
.hltr .ko-midashi {
}
.vrtl .ko-midashi {
}


/* テキスト中心のページ
---------------------------------------------------------------- */
body.p-text {
}
body.p-text .main {
}


/* 目次ページ
---------------------------------------------------------------- */
body.p-toc {
}
body.p-toc .main {
}
